body {
	display: none;
	margin: 0px 15% 0 15%;
	font-family: "Source Sans Pro";
	font-weight: bold;
}

.main {
	padding-bottom: 50px;
}

header {
	font-size: 40px;
	font-weight: lighter;
	padding: 3px;
	margin-top: 5px;
	border-bottom: 1px gray solid;
}

.quote {
	font-family: "Shadows Into Light Two";
	display: block;
	font-size: 25px;
	width: 100%;
	height: 100px;
	text-align: center;
	padding-top: 20px;
	font-weight: normal;
}

.webpages {
	margin: 0 auto 0 auto;
	width: 60%;
	font-size: 18px;
}

footer {
	position: fixed;
	background-color: white;
	bottom: 0;
	width: 70%;
	height: 40px;
	border-top: 1px gray solid;
	padding-left: 10px;
	line-height: 40px;
}
