/*****************************************************
*	Designed and programmed by Mohamed Adam Chaieb.
*****************************************************/

body {
	font-family: "Source Sans Pro";
	margin: 0;
}

header {
	display: block;
	width: 97%;
	background-color: #444;
	height: 50px;
	line-height: 50px;
	font-size: 3em;
	padding-left: 3%;
	color: white;
	border-bottom: 2px solid #888;
}

.all {
	display: block;
	width: 100%;
	height: 91%;
}

.rgb {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	width: 260px;
	margin-top: -25px;
	margin-left: -130px;
	color: white;
	font-size: 1.5em; 
}

.instruction {
	position: absolute;
	top: 50%;
	color: white;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 2em;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #444;
	color: white;
	height: 4%;
	border-top: 2px solid #888;
	padding-left: 5px;
	line-height: 40px;
}

footer a {
	color: white;
}