/*****************************************************
*	Designed and programmed by Mohamed Adam Chaieb.
*****************************************************/

body {
	width: 90%;
	margin: 20px auto 0 auto;
	background-color: #1a1a1a;
	font-family: "Source Sans Pro";
	color: white;
}

#title {
	font-family: 'Pacifico';
	color: #e5e5e5;
	font-size: 80px;
	width:100%;
	text-align: center;
	font-weight: normal;
	text-shadow: 3px 3px black, 4px 4px #e5e5e5;
}

footer {
	display: block;
	position: absolute;
	bottom: 0;
	background-color: #1a1a1a;
	height: 40px;
	width: 90%;
	border-top: 1px solid white;
	padding-left: 5px;
	line-height: 40px;
}

footer a {
	color: white;
}

.design {
	display: block;
	width: 100%;
	margin: 10px 0 10px 0;
}

.design svg {
	display: block;
	margin: 0 auto 0 auto;
}

h2 {
	font-weight: lighter;
	padding-left: 30px;
}