/*****************************************************
*	Designed and programmed by Mohamed Adam Chaieb.
*****************************************************/

body {
	font-family: 'Lato';
	margin: 0 10% 0 10%;
}

h1 {
	font-family: "Crimson Text";
	font-weight: lighter;
	font-size: 4em;
	display: block;
	width: 700px;
	margin: 0 auto 25px auto;
	text-align: center;
	position: relative;
	top: 20%;
	border-bottom: 1px solid #444;
}

p {
	text-align: justify;
	font-size: 1.4em;
	width: 700px;
	display: block;
	position: relative;
	top: 20%;
	margin: 0 auto 0 auto;
}

footer {
	display: block;
	position: relative;
	top: 200px;
	height: 40px;
	width: 700px;
	margin: 25px auto 0 auto;
}